#theme-base{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.9);
    margin: 5em 10em 5em 10em;
    border-radius: 15px 15px 15px 15px;
} 